

.container {
	font-family: 'Monda', sans-serif;
	display: grid;
	grid-column-gap: 40px;
	grid-row-gap: 10px; 
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas: "head menu menu "
						 "galeria galeria galeria"
					 	 "nosotros nosotros nosotrosimg"
					 	 "contacto contacto contacto2"
					 	 "foot foot foot";}


.container__header {
	grid-area: head;}


.container__menu {
	grid-area: menu;
  	align-self: center;}


.container__galeria {
	grid-area: galeria;}


.container__nosotros {
	grid-area: nosotros;}


.container__nosotros--video {
	grid-area: nosotrosimg;}


.container__contact--data {
	grid-area:contacto2 ;}


.container__nosotros {
	grid-area: nosotros;}


.container__contact--form {
	grid-area: contacto;
	color: white;}


.container__footer {
	grid-area: foot;}

}



